<h1><%= @question.title %></h1>

<p>Question: <%= @question.content %></p>
<% if Answer.where(question_id: @question_id) %>  
  <p>Answers:  <%= Answer.where(question_id: @question.id).pluck(:content).join("\n") %></p>
<% end %>

<div class='row'>
  <%= form_for @answer, html: {class: "large-4 columns"} do |f| %>
      Answer: <%= f.text_area :content %>
      <%= f.hidden_field :question_id, { :value => @question.id} %>
      <%= f.submit %>
  <% end %>
</div>