<%= image_tag gravatar_for(User.find(@question.user_id))  %>
<h1><%= @question.title %></h1>

<p>Question: <%= @question.content %></p>
<% if current_user && current_user.id == @question.user_id %>
  <p><%= link_to 'Delete', question_path(@question),
                  method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<% if Answer.where(question_id: @question_id) %>
  <ul>
    <% Answer.where(question_id: @question.id).each do |answer| %>
      <li>
        <%= answer.content %>
        <% if current_user && current_user.id == answer.user_id %>
         | <%= link_to 'Delete', answer_path(answer),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li><br>
    <% end %>
  </ul>
<% end %>

<div class='row'>
  <%= form_for [@question, @answer], html: {class: "large-4 columns"} do |f| %>
      Answer: <%= f.text_area :content %>
      <%= f.hidden_field :question_id, { :value => @question.id} %>
      <%= f.submit %>
  <% end %>
</div>
