<%= image_tag Gravatar.new(User.find(@question.user_id).email).image_url  %>
<h1><%= @question.title %></h1>

<p>Question: <%= @question.content %></p>
<% if current_user && current_user.id == @question.user_id %>
  <p><%= link_to 'Delete', question_path(@question),
                  method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<% if @answers %>
  <%= render @answers %>
<% end %>

<div class='row'>
  <%= form_for [@question, @answer], html: {class: "large-4 columns"} do |f| %>
      Answer: <%= f.text_area :content %>
      <%= f.hidden_field :question_id, { :value => @question.id} %>
      <%= f.submit %>
  <% end %>
</div>
