<%= image_tag gravatar_for(User.find(@question.user_id))  %>
<h1><%= @question.title %></h1>

<p>Question: <%= @question.content %></p>
<% if current_user && @question.owner? current_user %>
  <p><%= link_to 'Delete', question_path(@question),
                  method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<% if @answers %>
  <table>
    <thead>
      <tr>
        <th width="15%">UpVote</th>
        <th width="15%">DownVote</th>
        <th width="15%">Score</th>
        <th width="15%">User</th>
        <th width="30%">Answer</th>
        <th width="10%">Delete</th>
      </tr>
    </thead>
    <tbody>
  <%= render @answers %>
    </tbody>
  </table>
<% end %>

<% if current_user %>
<div class='row'>
  <%= form_for [@question, @answer], html: {class: "large-4 columns"} do |f| %>
    <%= render 'shared/form_errors', :object => @answer %>
      Answer: <%= f.text_area :content %>
      <%= f.hidden_field :question_id, { :value => @question.id} %>
      <%= f.submit %>
  <% end %>
</div>
<% end %>
