<%= image_tag Gravatar.new(User.find(@question.user_id).email).image_url  %>
<h1><%= @question.title %></h1>

<p>Question: <%= @question.content %></p>
<% if Answer.where(question_id: @question_id) %>
  <ul>
    <% Answer.where(question_id: @question.id).each do |answer| %>
      <li><%= answer.content %></li><br>
    <% end %>
  </ul>
<% end %>

<div class='row'>
  <%= form_for [@question, @answer], html: {class: "large-4 columns"} do |f| %>
      Answer: <%= f.text_area :content %>
      <%= f.hidden_field :question_id, { :value => @question.id} %>
      <%= f.submit %>
  <% end %>
</div>
