<%= image_tag Gravatar.new(User.find(@user.id).email).image_url  %>

<h1><%= @user.username %>'s Profile</h1>

<div class="section-container auto" data-section>
  <section>
    <p class="title" data-section-title><a href="#panel1">Questions</a></p>
      <div class="content" data-section-content>
        <p><% @user.questions.each do |question| %>
          <p><%= link_to question.title, question_path(question) %></p>
        <% end %>
      </p>
    </div>
  </section>
  <section>
      <p class="title" data-section-title><a href="#panel2">Answers</a></p>
        <div class="content" data-section-content>
          <p><% @user.answers.each do |answer| %>
            <h4> <%= link_to answer.question.title, question_path(answer.question) %></h4>
            <p><%= answer.shortened_content %></p>
        <% end %>
      </p>
    </div>
  </section>
</div>