<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='container'>
      <nav class='top-bar'>
        <ul class='title-area'>
          <li class='name'>
            <h1><%= link_to 'Snack Overflow', root_path %></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class='right'>
            <% if current_user %>
              <li class='name'><h1><%= link_to "Profile Page", user_path(current_user) %></h1></li>
              <li class='name'><h1><%= link_to "Logout", logout_path %></h1></li>
            <% else %>
              <li class='name'><h1><%= link_to "Sign up", new_user_path %></h1></li>
              <li class='name'><h1><%= link_to "Login", sign_in_path %></h1></li>
            <% end %>
          </ul>
        </section>
        <ul class='left'>
          <li class='name'><h1><%= link_to "New Question", new_question_path %></h1></li>
        </ul>
      </nav>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
